[submodule "Ember/src/Dependencies/spdlog"]
	path = Ember/src/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ember/src/Dependencies/imgui"]
	path = Ember/src/Dependencies/imgui
	url = https://github.com/ocornut/imgui
