[submodule "Ember/src/vendor/spdlog"]
	path = Ember/src/vendor/spdlog
	url = https://github.com/pulsefire/spdlog
[submodule "Ember/src/vendor/imgui"]
	path = Ember/src/vendor/imgui
	url = https://github.com/pulsefire/imgui
