[submodule "Ember/vendor/spdlog"]
	path = Ember/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ember/vendor/imgui"]
	path = Ember/vendor/imgui
	url = https://github.com/pulsefire/imgui
